<style>
@import url(https://fonts.googleapis.com/css?family=Sofia)
nav a {color:black}
.skip{
  position: relative;
  left: -2000px;}

.skip:focus{
  left:10px;
  border: 1px solid black;}



a.current{font-weight: bolder}
a.current{background-color: lightslategray}

<link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
body {
    font-family: 'Sofia';font-size: 22px;
}
body {margin: 0;}
body {
    font-family: 'Allerta Stencil';font-size: 22px;
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}
<div style="padding:0 16px;">


body{color:black}
h1{color:black}
h1{font-family: 'Allerta Stencil';font-size: 40px;}
h2{font-family: 'Allerta Stencil';font-size: 30px;}
h3{font-family: 'Allerta Stencil';font-size: 30px;}
h4{font-family: 'Allerta Stencil';font-size: 30px;}
h5{font-family: 'Allerta Stencil';font-size: 30px;}
p{font-family: 'Allerta Stencil';font-size: 22px}
ul{font-family: 'Allerta Stencil';font-size: 22px;}
body{
  width:94%;
  margin:auto;
  font-family: "Helvetica", Sans-serif;
}

.gallery{
  width:100%;
  display:flex;
  flex-flow: row wrap;
}

.gallery__item{
  box-sizing:border-box;
  width:100%;
  padding:1rem;
  margin:1rem;
  box-shadow: 1px 2px 40px 2px rgba(160, 160, 160, .5);
}
.gallery__image-caption{
  margin-top:1rem;
  font-size:0.95rem;
}
.gallery__image{
  width:100%;
  display:block;
}

@media only screen and (min-width: 33.75em){
  .gallery__item{
    flex-basis: calc(50% - 2rem);
  }
}

@media only screen and (min-width: 48em){
  .gallery__item{
    flex-basis: calc((100% / 3) - 2rem);
  }
}

@media only screen and (min-width: 60em){
  .gallery__item{
    flex-basis: calc((100% / 4) - 2rem);
  }
}

a:link{color:blue}
a:visited{ color:slategray}
a:hover{}
a:focus{}
a:active{}
  </style>
